.title-slide {
    color: var(--color);

    .card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .lines {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &::before {
            pointer-events: none;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 0px 2px var(--border-color);
        }
    }

    .transition {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2ch;
        font-size: 33px;

        button {
            &.selected {
                color: var(--primary);
            }

            &:not(.selected) {
                color: var(--muted);
            }
        }
    }

    .text {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 1in;

        .title {
            font-size: 44px;
            margin-bottom: 1rem;
        }

        .subtitle {
            font-size: 44px;
        }
    }
}
