.title-slide {
    color: var(--color);

    .lines {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        .arrow {
            transform-box: fill-box;

            &.right {
                transform-origin: right left !important;
            }

            &.left {
                // opacity: 0;
                transform-origin: left right !important;
            }
        }
    }
}
